body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: helvetica;
  background: linear-gradient(to right, #43cea2 , #185a9d);
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

h3{
  font-size: 14px;
  margin-top: -20px;
}

.center{
  margin: 0 auto;
  width: 50%;
}

.cadre{
  color: #243B55;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

.flexbox{
  display: flex;
  justify-content: center;
}

 #type{
   background-color: #43cea2;
   color: white;
   border-radius: 10px;
   padding: 13px;
   text-align: center;
   margin: 5px;
   font-size: 22px;
   -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, transform 0.4s;
 }

 #type:hover{
   background-color: #185a9d;
 }

#typefont{
   font-size: 14px;
 }

#text{
   padding-left: 10px;
 }

button{
  margin-top: 10px;
  background-color: #43cea2;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 8px;
  -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
 transition: background-color 0.4s, transform 0.4s;
}

button:hover{
  background-color: #185a9d;
  cursor: pointer;
}

input[type=text] {
  padding: 5px 10px;
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

.boutonRetour{
  display: block;
  background-color: white;
  border-radius: 5px;
  width: 50px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: -25px;
}

#lienBouton{
  color: #2c3e50;
}

.machine{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.tache{
  margin-bottom: 3px;
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

#nomMachine{
  margin-top: 8px;
  margin-right: 5px;
}

.cadreInput{
  width: 100px;
}

.fileInput{
  background-color: black;
}

#dureeTache{
  border: 2px solid #43cea2;
  color: #185a9d;
  width: 20px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 25px;
}

h4{
  margin-top: -5px;
}
